@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
body{
    background-color: rgb(11, 19, 32);
}
h1{
    color: rgb(37, 99, 235);
    font-family: 'Montserrat';
    font-weight: 700;
}
h3{
    color: white;
    font-family: 'Open Sans';
}
p{
    color: white;
    font-family: 'Open Sans';
}
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
input[type = "number"]{
    all:unset;
    background-color: rgb(13, 25, 47);
    width: 110px;
    height: 25px;
    border-radius: 10px;
    border: solid 2px rgb(37, 99, 235);
    outline:none;
    color: white;
    font-family: 'Lato';
}
input[type= "submit"]:hover{
    background-color: #1E40AF;
}
input[type= "number"]::click{
    background-color: #1E40AF;
}
input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Lato';
}
input[type="submit"]{
    all: unset;
    background-color: rgb(37, 99, 235);
    color: white;
    width: 90px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto';
    margin-top: 20px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    text-align: center;
    width: 35vw;
    min-height: 60vh;
    box-shadow: 0px 0px 25px 5px rgb(17, 24, 39);
}
main{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.result{        
    border-radius: 10px;
    width: 400px;
    height: 100px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 200;
    margin-top: 20px;
}
select{
    background-color: rgb(13, 25, 47);
    width: 110px;
    height: 29px;
    border-radius: 10px;
    border: solid 2px rgb(37, 99, 235);
    outline:none;
    color: white;
}
.hidden{
    display: none;
}
.result_container{
    background-color: rgb(216, 170, 170);
}



